/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100vh;
}
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
/* variables */
:root {
  --primary: #458b73;
  --primary-dark: #2d5647;
  --secondary: #3d392c;
  --surface: #2a2821;
  --surface-hover: #484539;
  --border: #757264;
  --white: #ff9760;
  --text: #458b73;
  --text-lighi: #89b4a5;
  --succes: #34725c;

  /* shadow */
  --shadow-lg: 0 25px 50px rgba(59, 53, 53, 0.35);
  --shadow-sm: 0 25px 50px rgba(91, 75, 75, 0.35);

  /* radius */
  --radius-xl: 35px;
  --radius-lg: 22px;
  --radius-md: 16px;
  --radius-sm: 12px;

  /* transition */
  --transition: 0.2s;
}

/* body */
body{
    font-family: "Oswald",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
}
