/* Reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    display: block;
    max-width: 100vh;
}
input, button{
    font: inherit;
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}